@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Megrim&display=swap');

body{
    font-family: 'Macondo', cursive;
    background-color: #0A4D68;
}

#selecciona-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: white;
    font-size: 32px;
}

.subtitulo{
    color: white;
    font-size: 20px;
    font-family: 'Megrim', cursive;
}

.tarjetas,.tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 185px;
    height: 100px;
    background: #088395;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center
    /* margin: 10px;
    border: 1px solid hotpink; */

}

.tarjeta-de-mokepon img{
    width: 80px;
}

#boton-mascota{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 3px outset white;
    color: white;
    font-family: 'Megrim', cursive;
    margin-top: 30px;
}

input {
    display: none;
}

input:checked +label{
    background: #1B9C85;
}

#selecciona-ataque{
    flex-direction: column;
    align-items: center
}

.boton-de-ataque{
    background-color: #088395 ;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100px;
    color: white;
    font-family: 'Megrim', cursive;
}

#mensajes{
    width: 280px;
    background-color: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar{
    border: none;
    color: #0A4D68;
}

.ataques-jugador,.ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    /* text-align: center; */
    
}


@media(max-width:360px){
    .tarjetas,.tarjetas-ataques{
        flex-direction: column;
    }
}